
@{
    ViewData["Title"] = "Index2";
}

<h2>@TempData["Message"]</h2>

<p>There are @TempData["EmployeeCount"] employees in the list.</p>

<table class="table">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Employee Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in TempData["EmployeeList"] as List<Employee>)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Age</td>
            </tr>
        }
    </tbody>
</table>

@{
    TempData.Keep("Message");
    TempData.Keep("EmployeeCount");
    TempData.Keep("EmployeeList");

}

<a asp-controller="Employee" asp-action="Details">Details</a>

