
@{
    ViewData["Title"] = "Index1";
}

<h2>@ViewData["Message"]</h2>

<p>There are @ViewData["EmployeeCount"] employees in the list.</p>

<table class="table">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Employee Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in ViewData["EmployeeList"] as List<Employee>)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Age</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Employee" asp-action="Details">Details</a>